main {
  width: calc(100% - 1.4rem);
  max-width: 37.4rem;
  background: #084C61;
  padding: 0.7rem 0.7rem 0 0.7rem;
}

.top-content {
  width: 100vw;
  max-width: 37.4rem;
  padding-bottom: 2.5rem;
}

app-square {
  height: 12rem;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}